# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments (if you use them)
venv/
env/
.venv/

# Environment variables
.env

*.log
npm-debug.log*

.vscode/

.DS_Store
Thumbs.db

masteri-direktori.xlsx
storage/*
!storage/.gitkeep

config/Group list.xlsx

notebooks/result